.responsiveTable {
    width: 100%;
    table-layout: fixed;
  }
  .smallButton {
    padding: 4px 10px; 
    font-size: 1rem;
  }
  .responsiveTable th, .responsiveTable td {
    padding: 0.5rem; 
    box-sizing: border-box; 
    text-align: left; 
  }
  @media (max-width: 500px) {
    .smallButton {
      padding: 1px 6px;
      font-size: 0.75rem;
    }
  }