.container {
  text-align: center;
  width: 100%;
  max-width: 1600px;
  padding-left: 50px;
}
.container h2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4); 
  color: #fff;
  padding: 15px 30px;
  font-size: 28px;
  font-weight: 700; 
  border-radius: 10px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  width: max-content;
  margin: 0 auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  animation: fadeIn 1.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.swiperSlide img {
  width: 300px;
  height: 300px;
  filter: brightness(75%) contrast(110%) blur(0.5px);
  object-fit: cover;
}

@media (min-width: 1600px) and (max-width: 2700px) {
  .container {
    text-align: center;
    max-width: 3000px;
  }
  .swiperSlide {
    padding: 30px;
  }
  .swiperSlide img {
    width: 100%;
    height: 100%;
  }
  .container h2 {
    font-size: 30px;
  }
}

@media (max-width: 1200px) {
  .swiperSlide img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .swiperSlide img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 430px) {
  .swiperSlide img {
    width: 90px;
    height: 90px;
  }
  .container h2 {
    font-size: 15px;
  }
}

@media (max-width: 380px) {
  .swiperSlide img {
    width: 80px;
    height: 80px;
  }
  .container h2 {
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .swiperSlide img {
    width: 50px;
    height: 50px;
  }
  .container h2 {
    font-size: 10px;
  }
}
